include ../svg/svg

mixin form-textarea(data, mod)
  label(class="form-textarea" + (mod ? ' form-textarea--' + mod : '') + (attributes.class ? ' ' + attributes.class : ''))
    textarea(placeholder=" " id=attributes.id name=attributes.name rows=attributes.rows required=attributes.required).js-form-textarea
    span(class="form-textarea__label" + (mod ? ' form-textarea__label--' + mod : ''))!= data.label
    span.form-textarea__error!= data.error
    +svg('warning')(width="15" height="15")
